.App {
 display: flex;
 flex-direction: column;
 align-items: center;
  width: 90%;
  height: 90vh;
  max-width: 1200px;
  position: relative;
  overflow-x: hidden;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 20px;;
}

.App-container {
  background: linear-gradient(to bottom right, #b7cef3, #e8c0ff, #ffffff);
  height: 100vh;
  min-width: 400px;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

body {
  font-family: "Montserrat", sans-serif;

}